section {
  border: 1px black solid;
  display: flex;
  font-family: Arial, Helvetica, sans-serif;
  background-image: url(bgkopie.jpg);
  background-position: center;
}

img {
  width: 150px;
}

#links {
  border-right: 1px black solid;
}
#links {
  flex: 3;
}
h1 {
  font-size: 50px;
  margin: 0;
}
#top p {
  padding-top: 40px;
  margin: 0;
}
#rechts {
  flex: 1;
}

#top h1,
#top p {
  text-align: center;
}

#midden {
  display: flex;
  justify-content: space-evenly;
}

#midden * {
  border: 1px black solid;
  width: 100%;
  text-align: center;
  align-self: center;
  padding: 20px 0px;
}
#beneden {
  text-align: center;
}

#rechts {
  text-align: center;
  align-self: center;
}

@media only screen and (max-width: 500px) {
  section {
    display: flex;
    flex-direction: column;
  }
  #top {
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding: 30px 0;
  }
  #top h1 {
    order: -1;
  }

  #top p {
    padding: 0;
  }

  #beneden {
    display: none;
  }
}
