* {
  box-sizing: border-box;
}

section {
  display: grid;
  grid-template-columns: repeat(5, 200px);
  grid-template-rows: repeat(3, 200px);
  grid-gap: 15px;
}

.blok {
  text-align: center;
  padding: 20px;
  color: white;
}

.rood {
  background-color: red;
}

.geel {
  background-color: yellow;
  color: black;
  grid-column: 4/6;
  grid-row: 2/4;
}

.blauw {
  background-color: blue;
  grid-column: 1 / span 1;
  order: 1;
  grid-row: 1 / 4;
}
